/********/
/********/
@media screen and (max-width:799px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        margin: 20px;
    }
}